
h2{
	background-color: lightblue;
	border-style: solid;
	border-color:  black;
	border-radius: 5px;
	text-align: center;
    padding-top:  10px;  
    padding-bottom: 10px;
}

#score{
	text-align: center;
}
#scoreText{
	font-size: 1.3em;
}
#scoreNumber{
	font-size: 1.4em;
	color: blue;
	font-weight: bold;
}

#imageDiv {
	max-width: 400px;
	border-radius: 10px;

    margin: auto;
    background-color: black;

    overflow: hidden;
    min-height:  410px;
}
#image {
	object-fit: none;
  	object-position: top;


  	padding-top: 5px;
  	min-width: 400px;
  	max-height: 100px;
    
}

input[type="text"]{
	padding: 12px 20px;
  	background-color: lightblue;
  	border-radius: 15px;
  	border-color: gray;
  	border-style: solid;
  	font-size: 1.4em;
  	font-family: times new roman;
}

.padding {
    
    padding-bottom: 15px;
    padding-top: 10px;  
}

#overlapDiv{
	
	position: relative; margin: 0 auto; text-align: center;
}
#overlapText{
	color: red;
	opacity: 0;
}
#warning{
	position: absolute; top: 0; width: 100%;
	color: red;
	opacity: 0;
}

hr{
	border-style: solid;
	border-color: black;
}

#tag{
	padding-top: 50px;
}

body{
	background-color: lightgray;
	text-align: center;
}


#enterButton {
            text-decoration: none;
            border: none;
            padding: 10px 25px;
            font-size: 1em;
            background-color: green;
            color: #fff;
            border-radius: 5px;
            box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
            cursor: pointer;
            outline: none;
            transition: 0.2s all;
        }
        /* Adding transformation when the button is active */
          
        #enterButton:active {
            transform: scale(0.96);
            /* Scaling button to 0.98 to its original size */
            box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
            /* Lowering the shadow */
        }

#anotherCeleb {
            text-decoration: none;
            border: none;
            padding: 20px 20px;
            font-size: 1em;
            background-color: lightcoral;
            color: #fff;
            border-radius: 20px;
            box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
            cursor: pointer;
            outline: none;
            transition: 0.2s all;
            font-family:  lucida console;
            border-style: solid;
            border-color: black;
            border-width: 2px;
        }
        /* Adding transformation when the button is active */
          
        #anotherCeleb:active {
            transform: scale(0.96);
            /* Scaling button to 0.98 to its original size */
            box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
            /* Lowering the shadow */
        }

.popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
  	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
}

.popup .popuptext {
	visibility: hidden;
	width: 280px;
  	background-color: green;
  	color: #fff;
  	text-align: center;
  	border-radius: 8px;
  	padding: 14px 0;
  	position: absolute;
  	
 	z-index: 1;
 	bottom: 125%;
  	left: 50%;
  	margin-left: -140px;
}


.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
}
.wrong::after{
	border-color: red transparent transparent transparent;
}
.correct::after{
	border-color: green transparent transparent transparent;
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}